@media (max-width:380) {
    .newsletter__title {
        max-width: 16rem;
    }
}

@media (min-width:576px) {

    .menu {
        display: flex;
    }
}

@media (min-width:768px) {
    .nav__btn {
        display: none;
    }

    .menu {
        display: flex;
    }

    .newsletter {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .newsletter__content {
        flex-basis: 60%;
        padding-right: 2rem;
    }

    .newsletter__banner {
        flex-basis: 40%;
    }
}

@media (min-width:992px) {
    .nav_links {
        display: block;
    }

    .header-content__caption {
        max-width: 57rem;

    }

    .newsletter__content {
        padding-right: 4rem;
    }

}

@media (min-width:1200px) {
    .newsletter {
        justify-content: space-between;
        height: 38rem;

    }

    .header-content__caption {
        flex-basis: auto;
        width: 60rem;
    }

    .newsletter__content {
        width: 42rem;
        flex-basis: auto;
    }
}

@media (min-width:1400px) {
    .newsletter{
        padding: 3rem 6rem;
    }
}
