@media (max-width:380) {
    .newsletter__title {
        max-width: 16rem;
    }
}

@media (min-width:576px) {

    .menu {
        display: flex;
    }

    .nav__btn {
        display: none;
    }

}

@media(max-width:576px) {
    .footer__scroll {
        right: 20rem;
    }

}

@media (min-width:768px) {
    .nav__btn {
        display: none;
    }

    .menu {
        display: flex;
    }

    .newsletter {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .newsletter__content {
        flex-basis: 60%;
        padding-right: 2rem;
    }

    .newsletter__banner {
        flex-basis: 40%;
    }

    .newsletter::before {
        width: auto;
        height: auto;
        top: 0rem;
        left: -42rem;
        background-size: auto;
        background-position: center left;
        border-radius: 2rem;

    }
}

@media (max-width:768px) {
    .footer__right {
        display: grid;
        grid-template-columns: repeat(2, 19rem);
        gap: 4rem;
    }

    .footer__wrapper {
        gap: 7rem;
    }

}

@media (min-width:992px) {
    .nav_links {
        display: block;
    }

    .header-content__caption {
        max-width: 57rem;

    }

    .newsletter__content {
        padding-right: 4rem;
    }

    .newsletter::before {
        width: auto;
        height: auto;
        top: 0rem;
        left: -29rem;
        background-size: auto;
        background-position: center left;
        border-radius: 2rem;
    }

}

@media (max-width:992px) {
    .footer__wrapper {
        display: grid;
        justify-content: center;
        align-content: center;
        gap: 7rem;
    }

}

@media (min-width:1200px) {
    .newsletter {
        justify-content: space-between;
        height: 38rem;

    }

    .header-content__caption {
        flex-basis: auto;
        width: 60rem;
    }

    .newsletter__content {
        width: 42rem;
        flex-basis: auto;
    }
}

@media (max-width:1200px) {

    .footer__wrapper {
        gap: 5rem;

    }
}

@media (min-width:1400px) {
    .newsletter {
        padding: 3rem 6rem;
    }
}

@media (max-width:1400px) {
    .footer__wrapper {
        gap: 19rem;
    }
}